<section layout="row" flex="" layout-fill="true">
  <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="4">
    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">Awards</h1>
    </md-toolbar>

    <md-content>
      <md-list flex>
        <md-list-item ng-repeat="item in publicMenu" ui-sref="{{item.link}}" md-ink-ripple class="md-clickable" >
          <div  align="center">{{item.name}}</div>
        </md-list-item>
      </md-list>
      <md-menu md-offset="0 -7" ng-repeat="category in categories">
        <md-list-item aria-label="Open demo menu" ng-click="$mdOpenMenu($event)">
          {{category.name}}
        </md-list-item>
        <md-menu-content width="2">
          <md-menu-item ng-repeat="sub in category.subcat">
            <md-button ui-sref="root.category({category:sub})">
              <span md-menu-align-target>
              </span> {{sub}} </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-divider></md-divider>
      <md-list flex>
        <md-list-item ng-repeat="item in adminMenu" ui-sref="{{item.link}}" md-ink-ripple class="md-clickable" >
          <div  align="center">{{item.name}}</div>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>
  <div layout="column" flex>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button hide-gt-sm class="md-icon-button" ng-click="toggleLeft()">
          <i class="material-icons">menu</i>
        </md-button>
        <h3>{{username}}</h3>
        <span flex></span>
        <i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;&nbsp;
        <i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;&nbsp;
        <i class="fa fa-google-plus" aria-hidden="true"></i>&nbsp;&nbsp;
        <i ng-if="username"  ng-click="logout()" class="material-icons">power_settings_new</i>
      </div>
    </md-toolbar>
    <md-content>
      <div ui-view="main@"></div>
<!--      <md-content layout="row">
        <div flex="80" ui-view="main@"></div>
        <div flex="20">here is some random shit</div>
      </md-content>-->

    </md-content>
  </div>
</section>