<md-content flex="" layout-padding="">
  <div layout="column" layout-align="top center">
    <div>

    </div>
  </div>
  <h2>Posts of Category "{{category}}"</h2>
  <div md-whiteframe="20" ng-repeat="post in posts | orderBy:'-creation_date'" >
    <div >
      <h3><a ui-sref="root.post({title: post.urlTitle,id:post._id})">{{post.title}}</a>
        <small>
          <section layout="row" layout-xs="column"  class="tags">
            <span class="label label-default">{{post.creation_date | date:'medium'}}</span>
             <span  ng-repeat="tag in post.tags" class="label label-primary">
               <a ui-sref="root.tag({tag:tag})">{{tag}}</a>
            </span>
          </section>
        </small>
      </h3>
      <br/>
    </div>
  </div>

</md-content>