
<div  layout="column" ng-cloak>
  <md-content layout-padding>
    <form name="projectForm">
      <md-input-container class="md-block">
        <label>Title</label>
        <input required md-no-asterisk name="title" ng-model="post.title">
        <div ng-messages="projectForm.title.$error">
          <div ng-message="required">Idiot!! you forgot Title.</div>
        </div>
      </md-input-container>

      <label>Description</label>
      <md-input-container class="md-block">
        <label></label>
        <textarea ui-tinymce="tinymceOptions" ng-model="post.description"></textarea>
      </md-input-container>
      <md-chips ng-model="tags"
                placeholder="Enter a tag" md-removable="true"
                md-enable-chip-edit="true">
      </md-chips>
      <md-button class="md-raised md-primary" ng-click="addPost(post)">Post</md-button>
    </form>
  </md-content>
</div>