
<div  layout="column" ng-cloak>
  <md-content layout-padding>
    <form name="projectForm">
      <md-input-container class="md-block">
        <label>Title</label>
        <input required md-no-asterisk name="title" ng-model="post.title">
        <div ng-messages="projectForm.title.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Body</label>
        <textarea required md-no-asterisk name="body" ng-model="post.body" rows="5" md-select-on-focus></textarea>
        <div ng-messages="projectForm.body.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container>
        <md-button ng-click="addPost(post)">Post</md-button>
      </md-input-container>
    </form>
  </md-content>
</div>